*{
    margin: 0;
    padding: 0;
}
#about{
    background-color: black;
    height: 500px;
    padding-bottom: 5px;
}
#about-img {
    margin-left: 20%;
    width: 500px;
    height: 500px;
    padding-top: 6px;
}
#about-title {
    text-align: center;
    margin-top: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
#about-txt{
    text-align: justify;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
}
#container1{
    float: left;
    height: 100%;
    width: 50%;
    background-color: black;

}
#about .cont{
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: #FFE8DB;
    border-radius: 30%;
}
#about-link {
    font-size: large;
    height: 100px;
    width: 100px;
    background-color: black;
    color: #FFE8DB;
    border-radius: 20%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;
}
#about h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin-top: 20px;
}
#all-txt {
    margin-top: 5%;
}
#edu-main {
    background-color: #FFE8DB;
    height: 50%;
    width: 100%;
}
#edu-main h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}
#edu-main hr{
    width: 50%;
    margin-left: 25%;
}
.edu-list {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
.edu-list hr {
    margin-top: 20px;
    margin-left: 40%;
    width: 20%;
}
#skills-main {
    background-color: #5682B1;
    padding-bottom: 20px;
    height: 50%;
    width: 100%;
}
#skills-main h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #FFE8DB;
}
#skills > hr{
    width: 50%;
    margin-left: 25%;
}
.skills-list {
    display: inline-block;
    margin-left: 25%;
    width: 15%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    padding-top: 20px;
    color: #FFE8DB;
}
#list-div {
    display: inline-block;
    width: 4.9%;
    height: 15px;
    background-color: #DDA853;
    margin-left: 9.8%;
}
#list-div2 {
    display: inline-block;
    width: 4.85%;
    height: 15px;
    background-color: #DDA853;
}
#break{
    width: 10%;
    margin-left: 25%;
    margin-top: 10px;
}
#tools-main {
    background-color:#739EC9;
    padding-bottom: 20px;
    height: 50%;
    width: 100%;
}
#tools-main h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #FFE8DB;
}

#tools-main hr {
    width: 50%;
    margin-left: 25%;
} 
#certificates-main {
    background-color: #DDA853;
    height: 50%;
    width: 100%;
}
#certificates-top{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #FFE8DB;
}
#certificates-main hr {
    width: 50%;
    margin-left: 25%;
    color: #FFE8DB;
}
.certificates-list {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #FFE8DB;
}
#footer-main{
    background-color: black;
    border-top:  2px  solid white;
}
#footer-div {
    height: 100%;
    margin-left:42.2%;
    padding-bottom: 30px;
    padding-top: 10px;
}
#footer-logo{
    width: 50px;
    margin-left: 8px;
}
#bilder {
    float: left;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 20px;
}
#bilder2 {
    float: right;
    padding-left: 50%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 20px;
}
#copy {
    color: #FFE8DB;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-bottom: 10px;
}
#social {
    font-size: 1.5rem;
    padding-top: 20px;
}
#footer-main hr {
    width: 10%;
    margin-left: 45%;
}
#linkedin {
    display: inline-block;
    width: 10%;
}
#linkedin p{
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#linkedin hr {
    margin-left: 15%;
    margin-bottom: 10px;
    width: 30%;
}
#github {
    display: inline-block;
    width: 10%;
}
#github p{
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 6%;
}
#github hr {
    margin-left: 15%;
    margin-bottom: 10px;
    width: 30%;
}
#youtube {
    display: inline-block;
    width: 10%;
}
#youtube p{
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#youtube hr {
    margin-left: 15%;
    margin-bottom: 10px;
    width: 30%;
}
